<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.yoojung0318.Dailygram.post.comment.dao.CommentDAO">
 
  <insert id="insertComment" parameterType="map">
  	INSERT INTO
  				`daily_comment`
  	(
  	
  		`userId`
  		,`postId`
  		,`comment`
  		,`createdAt`
  		,`updatedAt`
  	)	
  	
  	VALUES
  	( 	
  		#{userId}
  		,#{postId}
  		,#{content}
  		,now()
  		,now()
  	)		
  
  </insert>
  
  <select id="selectComment" parameterType="map"
  resultType="com.yoojung0318.Dailygram.">
  
  	SELECT  
  				`userId`,
  				`postId`,
  				`comment`
  			
  	FROM			
  				`daily_comment`
  	WHERE
  			`userId` = #{userId}
	AND		`postId` = #{postId} 		
  				
  				
  
  </select>
  
 </mapper>