<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.yoojung0318.Dailygram.post.like.dao.LikeDAO">
 
  <insert id="insertLike" parameterType="int">
  
  	INSERT INTO
  				`daily_like`
  	(
  		`id`
  		,`userId`
  		,`postId`
  		,`createdAt`
  	)	
  	
  	VALUES
  	( 	
  		#{userId}
  		,#{postId}
  		,now()
  	)		
  </insert>
  
	<select id="selectCountLike" parameterType="int" resultType="int">
		SELECT 
			count(1)
		FROM
			`daily_like`
		WHERE
			`postId` = #{postId}
	
	</select>
  
 </mapper>