<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.yoojung0318.Dailygram.post.DAO.PostDAO">
 	<insert id="insertPost" parameterType="map">
 		INSERT INTO
 					`daily_post`
 		(
 			`userid`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`		
 		)			
 		VALUES
 		(
 			#{userid}
 			, #{content}
 			, #{imagePath}
 			, now()
 			, now()
 		
 		)
 	
 	</insert>
 
 	<select id="selectPostList" parameterType="int"
	 resultType="com.yoojung0318.Dailygram.post.model.Post">
	 	
	 	SELECT
	 		`id`
	 		,`userid`
	 		, `content`
	 		, `imagePath`
	 		, `createdAt`
	 		, `updatedAt`
	 	FROM
	 		`daily_post`

	 	ORDER BY
	 		`id` DESC	
	 
	 </select>
 
 </mapper>