@charset "UTF-8";

#wrap{
	width:1200px;
	margin:auto;
}

logo{
	font-weight:bold;
	width:1200px;
	height:50px;
}

.dailygram{
	font-weight:bold;
	font-size:60px;
}


section{
	width:1200px;
	
}
.mainImg{
	width:400px;
	height:500px;
}
.login-box {
	width:400px;
	height:500px;

}

.signup-box {
	width:400px;
	height:500px;
}

.bi-card-image{
	font-size: 30px;
	color: black;
}
.bi-heart{
	font-size: 30px;
	color: black;
}
.picture{
	
	height:250px;
}	
.likeImg{
	font-size:20px;
}

footer{
	width:1200px;
	height:50px;
}